nombre1{color:blue;font-size:20px}
precio1{color:green;font-size:28px}
nombre2{color:blue;font-size:20px}
precio2{color:green;font-size:28px}
nombre3{color:blue;font-size:20px}
precio3{color:green;font-size:28px}
